<div>

  <head>
    <a href="/">
      <h1>
        Set Renderer
      </h1>
    </a>
    <span>
      {{set === '0' ? 'Julia' : 'Mandelbrot'}}
    </span>
  </head>
  <main>
    <div id="output">
      <canvas
        id="canvas"
        width={{side}}
        height={{side}}></canvas>
    </div>
    
    <div id="panel">
      <label for="set">
        Set:
        <select
          id="set"
          [(ngModel)]="set"
          (change)="resetSet()">
          <option value="0" selected>Julia</option>
          <option value="1">Mandelbrot</option>
        </select>
      </label>
      <label
        [ngClass]="{'disabled': set === '1'}"
        for="julia-const-pair">
        Constants:
        <select
          id="julia-const-pair"
          [disabled]="set === '1' ? 'true' : 'false'"
          [(ngModel)]="juliaConstPair"
          (change)="setJuliaConstPair()">
          <option
            *ngFor="let pair of juliaConstPairs; index as i"
            value={{i}}>
            {{pair[0]}} + {{pair[1]}}i
          </option>
        </select>
      </label>

      <br />

      <label for="scale">
        Scale:
        <input
          type="number" id="scale" step="0.05" max="50" min="-50"
          [(ngModel)]="scale"
          (change)="updateSet()" />
      </label>
      <label
        *ngIf="smooth"
        for="contrastA">
        Contrast:
        <input
          type="number" id="contrastA" step="0.05" max="50" min="-50"
          [(ngModel)]="contrastForSmooth"
          (change)="updateSet()" />
      </label>
      <label
        *ngIf="!smooth"
        for="contrastB">
        Contrast:
        <input
          type="number" id="contrastB" step="0.05" max="50" min="-50"
          [(ngModel)]="contrastForSmoothFalse"
          (change)="updateSet()" />
      </label>
      <label for="iterations">
        Max iteration:
        <input
          type="number" id="iterations" step="5" max="5000" min="0"
          [(ngModel)]="maxIteration"
          (change)="updateSet()" />
      </label>
      <label for="radius">
        Escape radius:
        <input
          type="number" id="radius" step="0.1" max="20" min="0"
          [(ngModel)]="escapeRadius"
          (change)="updateSet()" />
      </label>
      <label for="smooth">
        Smooth:
        <input type="checkbox" id="smooth"
          [(ngModel)]="smooth"
          (change)="updateSet()" />
      </label>
    </div>
  </main>
</div>
